
.main {
	padding-top: 180px;
}


ul li{
  list-style-type: none;
  display: inline-block;
}

.header ul {
	list-style-type: none;
	padding: 0;
	float: right;
}

.img_g{

	padding-top: 10px;
	text-align: -webkit-center;
	
}

form{
	text-align: center;
}
.img_g{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

a {
	text-decoration: none;
	display: block;
	width: 60px;
	font-family: Arial, sans-serif;
	color: black;
	font-size: 13px;
}


a:hover {
	text-decoration: underline;
}

.textfield {
	width: 600px;
	height: 40px;
	line-height: 27px;
	border-radius: 50px;
	border: 1px solid #dcdcdc;
	
	box-shadow: 0 0 5px 5px #E6E6E6;

	margin: 10px 0px 20px 0px;
}



.fright{
	list-style-type: none;
	padding: 0;
	float: right;
}

.fright li {
	display: inline-block;
	padding-RIGHT: 20px;
}

.fleft{
	list-style-type: none;
	padding: 0;
	float: left;
}

.fleft li {
	padding-left: 20px;
    margin: 0 !important;
    font-family: arial,sans-serif;
    cursor: pointer;
	display: inline-block;
	white-space: nowrap;

}

.search{
	text-align: center;
}

button {
	height: 36px;
	line-height: 27px;
	background: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 4px;
	color: #5F6368!important;
	cursor: pointer;
	font-family: arial,sans-serif;
	font-size: 14px;
	margin: 11px 4px ;
	min-width: 54px;
	padding: 0 16px;
	text-align: center;
	font: 400 13.3333px Arial!important;	
	white-space: pre;
    align-items: flex-start;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
	box-sizing: border-box;
	}

.mic{
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png) 0 0  no-repeat;
	height: 24px;
	width: 24px;
	background-size: 24px;
	vertical-align: middle;
}




footer{
	padding: 0px 10px 0px 10px;
}


footer {
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	line-height: 40px;
	min-width: 980px;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
    display: block;


}

footer a {
	color: #7C7C7C;
	margin-right: 10px;
}

footer ul {
	padding: 0 0 0 20px;
}

footer .fleft {
	float:left;
	margin: 0;
	margin-left: 5px;
}

footer .fright {
	float: right;
	margin: 0;
	margin-right: 10px;
}


	
.lang ul li{
	display: inline-block;
    line-height: 28px;
    

}



.lang ul{
	padding: 0 3px;
	color: #1a0dab;
    text-decoration: none;
    font-family: arial,sans-serif;
    cursor: pointer;
    text-align: center;

}


	
